/* reset.css <- 여기서 지우고 최상위 파일에 임포트하기 */
@import url(./reset.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

* {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

body {
  /* display: flex; */

  background-color: #e9f6e8;
}

.wrapper {
  /* background-color: #00eeee; */
  /* max-width: 1200px; : 1200까지 늘어남, 700은 700까지 늘어남 */
  margin: 0 auto;
  max-width: 550px;
}

/* header */
header {
  margin: 50px 0;
  /* background-color: #00aaaa; */
  text-align: center;
}

.logo {
  max-width: 90%;
}

/* main */
main {
  /* margin-bottom: 50px; */
}

form {
  padding: 50px;
  max-height: 700px;

  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 5px;

  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
}

.form-control {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-control label {
  margin-bottom: 10px;
  color: #767676;
}

.form-control input {
  max-width: 100%;
  min-height: 40px;

  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

.form-control span {
  display: none;
}

input[id="checkbox"] {
  display: none;
}

input[id="checkbox"]+label {
  display: block;
  padding-left: 1em;
  text-indent: -.5em;
}

input[id="checkbox"]+label:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "\f096";
  letter-spacing: 3px;
  cursor: pointer;
}

input[id="checkbox"]:checked+label:before {
  content: "\f046";
}

.submit-btn {
  margin-top: 15px;
  width: 100%;
  height: 60px;

  background-color: #e9f6e8;
  color: #fff;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}